<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'estilo/Styleaco.css'%}"
</head>
<body>
<h1 style="color:blue;">Listado jugadores Real Madrid</h1>

<table border="1">
        <tr>
            <th>NOMBRE</th>
            <th>DEMARCACIÓN</th>
            <th>NÚMERO CAMISETA</th>
        </tr>
        {% for jug in listado_jugadores%}

            <tr>
                <td>{{jug.Nombre}}</td>
                <td>{{jug.Demarcacion}}</td>
                <td>{{jug.Numero}}</td>
                <td><img src="{% static 'imagenes/'%}{{jug.Foto}}" width="150" height="150"/></td>

            </tr>
       {% endfor%}
    </table>

</body>
</html>